* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: .3rem 0;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

img { border-radius: var(--border-radius); }

summary { cursor: pointer; }

hr { 
  margin: .6rem 25%;
}

