.tag {
  display: flex;
  align-items: center;
  width: fit-content;
  color: var(--accent);
  background: color-mix(in srgb, currentColor 30%, var(--servers-bg));
  border-radius: var(--border-radius);
  padding: 0.2rem 0.5rem;
  font-weight: bold;
}

.tag > img {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 0.3rem;
}
